<div id="chban"></div>
<div id="chcont">
	<div class="chcont">
		<div class="contactus">
			<div class="catust clearfix">
				<div class="ust left">
					<img src="images/farm/map1.jpg" alt="" />
					<p>湖南公司地址:湖南省宁乡县玉潭镇人民路9号2栋1003号</p>
				</div>
				<div class="ust right">
					<img src="images/farm/map2.jpg" alt="" />
					<p>广州公司地址:广州市天河区东圃二马路67号大埔商贸园10栋2楼</p>
				</div>
			</div>
			<div class="catusb">
				<p>
					<span>公司名称：</span> 九月畜牧科技有限公司
					<br />
					<span>咨询电话：</span> 020-91665258
					<br />
					<span>咨询邮箱：</span> 59808888@qq.com
					<br />
					<span>友情链接：</span>
					<a href="javascript:(0);">九月畜牧科技有限公司</a>
					<a href="javascript:(0);">宁乡九月肉制品有限公司</a>
					<a href="javascript:(0);">宁乡县五养山庄有限公司</a>
					<a href="javascript:(0);">宁乡县白云畜牧科技有限公司</a>
					<a href="javascript:(0);">九月畜牧科技有限公司</a>
					<br/>
					<a class="mglt82" href="javascript:(0);">宁乡县五养山庄有限公司</a>
					<a href="javascript:(0);">宁乡县白云畜牧科技有限公司</a>
					<a href="javascript:(0);">九月畜牧科技有限公司</a>
				</p>
			</div>
		</div>