<div id="chban">
</div>

<div id="chcont">
	<div class="chcont">
		<div class="joinus">
			<div class="joint clearfix">
				<div class="jheader wt460">职位名称</div>
				<div class="jheader wt290">工作地点</div>
				<div class="jheader wt282">招聘人数</div>
				<div class="jheader wt168">更新时间</div>
			</div>
			<ul class="joinb">
				<li   ng-repeat="job in jobs">
					<div class="lit clearfix" ng-click="jobShow(job.id)">
						<div class="lidetail wt460">{{job.name}}</div>
						<div class="lidetail wt290">{{job.place}}</div>
						<div class="lidetail wt282">{{job.num}}</div>
						<div class="lidetail wt168">{{job.date}}<span>{{showId == job.id?"&and;":"&or;"}}</span></div>
					</div>
					<div class="lib" ng-show="showId==job.id" ng-bind-html="job.html"></div>
				</li>
			</ul>
		</div>