<div id="chban"></div>

<div id="chcont">
	<div class="chcont">
		<div class="news">
			<ul class="chnewslist">
				<li class="clearfix" ng-repeat="new in news">
					<div class="chnewstop clearfix" ng-show="showId==new.id" ng-click="newsShow(0)">
						<div class="topleft left"><img ng-src="{{new.img}}" alt="" /></div>
						<div class="topright right">
							<div class="rttop">
								<h4>{{new.title}}</h4>
								<p>{{new.detaildate}}</p>
							</div>
							<div class="rtbot">
								<p>{{new.detailtext}}</p>
							</div>
						</div>
					</div>
					<div class="chnewsbot" ng-hide="showId==new.id" ng-click="newsShow(new.id)">
						<h3 class="left"><a href=""><span>{{new.hspan}} </span>{{new.title}}</a></h3>
						<span class="right">{{new.date}}</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="more" ng-click="loadShow =!loadShow">
			<a href="javascript:(0);" ng-hide="loadShow">加载更多</a>
			<img src="images/farm/loading.gif" alt=""  ng-show="loadShow"/>
		</div>
	</div>
</div>