<div id="chban"></div>

<div id="chcont">
	<div class="chcont">
		<ul class="contlist-hz">
			<li class="clearfix" ng-repeat="hzlist in hzlists">
				<img class="contliimg left" ng-src="{{hzlist.url}}" alt="">
				<div class="contlitext right">
					<div class="clearfix">
						<h3 class="left"><span>{{hzlist.hspan}}</span>{{hzlist.htext}}</h3><span class="right">{{hzlist.rspan}}</span>
					</div>
					<p>{{hzlist.ptext}}</p>
				</div>
			</li>
		</ul>
		<div class="more" ng-click="loadShow =!loadShow">
			<a href="javascript:(0);" ng-hide="loadShow">加载更多</a>
			<img src="images/farm/loading.gif" alt=""  ng-show="loadShow"/>
		</div>
	</div>
</div>